<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <property resource="application.properties" />
    <property name="log.path" value="${logging.path}" />
    <!--动态读取applition.properties中的配置-->
    <springProperty scope="context" name="DATASOURCE.HOST" source="spring.datasource.host"/>
    <springProperty scope="context" name="DATASOURCE.USERNAME" source="spring.datasource.username"/>
    <springProperty scope="context" name="DATASOURCE.PASSWORD" source="spring.datasource.password"/>


    <!--配置规则类的位置-->
    <conversionRule conversionWord="ip" converterClass="com.musixise.musixisebox.server.config.IPLogConfig" />

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{trackId}] [%X{userId}] %contextName %ip [%X{trackClientIp}] [%thread] %-5level %logger %logger{36} - %msg [%X{costTs}]%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/main.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <!--<timeBasedFileNamingAndTriggeringPolicy-->
                    <!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--&lt;!&ndash;文件达到 最大8MB时会被压缩和切割 &ndash;&gt;-->
                <!--<maxFileSize>8MB</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{trackId}] [%X{userId}] %contextName %ip [%X{trackClientIp}] [%thread] %-5level %logger %logger{36} - %msg [%X{costTs}]%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <!-- ACCESS -->
    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/access.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{trackId}] [%X{userId}] %contextName %ip [%X{trackClientIp}] [%thread] %-5level %logger %logger{36} - %msg [%X{costTs}]%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <!-- EXCEPTION -->
    <appender name="EXCEPTION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/exception.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{trackId}] [%X{userId}] %contextName %ip [%X{trackClientIp}] [%thread] %-5level %logger %logger{36} - %msg [%X{costTs}]%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <!--<appender name="DBAPPENDER" class="ch.qos.logback.classic.db.DBAppender">-->
        <!--<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">-->
            <!--<dataSource class="org.apache.commons.dbcp.BasicDataSource">-->
                <!--<driverClassName>com.mysql.jdbc.Driver</driverClassName>-->
                <!--<url>jdbc:mysql://${DATASOURCE.HOST}:3306/musixise_logback</url>-->
                <!--<username>${DATASOURCE.USERNAME}</username>-->
                <!--<password>${DATASOURCE.PASSWORD}</password>-->
            <!--</dataSource>-->
        <!--</connectionSource>-->
    <!--</appender>-->

    <root level="WARN">
        <appender-ref ref="console" />
        <!--<appender-ref ref="file" />-->
        <!--<appender-ref ref="DBAPPENDER" />-->
    </root>

    <logger name="ACCESS" additivity="false" level="INFO">
        <appender-ref ref="ACCESS"/>
    </logger>

    <logger name="EXCEPTION" additivity="false" level="INFO">
        <appender-ref ref="EXCEPTION"/>
    </logger>

    <!-- logback为java中的包 -->
    <logger name="com.musixise.musixisebox.controller"/>
    <!--logback.LogbackDemo：类的全路径 -->
    <logger name="com.musixise.musixisebox" level="INFO" additivity="true">
        <appender-ref ref="file"/>
    </logger>

    <logger name="com.musixise.musixisebox.repository" level="WARN" additivity="fales">
        <appender-ref ref="console"/>
    </logger>

    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <springProfile name="test,dev">
        <logger name="com.musixise.controller" level="trace" />
    </springProfile>
    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="com.musixise.controller" level="info" />
    </springProfile>

</configuration>
